PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD="@ma02#$@"
DB_NAME=voting
DB_PORT=3306

# Optional: To enable real Gmail delivery, provide your Gmail address and 16-character Google App Password:
# EMAIL_USER=your_email@gmail.com
# EMAIL_PASS=your_google_app_password
